.button{
    width: 100%;
    height: 64px;
    background: var(--color-primary-surface) ;
    margin-bottom: 16px;
}

.text{
    color: var(--color-black);
    margin: 16px 24px 16px;
    text-align: left;
}