.img{
    width: 75%;
    height: auto;
}

.textjudul{
    margin-top: 88px;
    color: var(--color-primary);
}

.textketerangan{
    margin-top: 24px;
    color: var(--color-black);
}

@media screen and (min-width: 320px) and (max-width:1023px){
    .img{
width: 100%;
    }
    .textjudul{
        margin-top: 0px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .textjudul{
        margin-top: 48px;
    }
}
@media screen and (min-width: 2560px) {
    .textketerangan{
        font-size: var(--font-h3-size);
        line-height: 48px;
    }
   
}

